<body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2 class="text-center mb-4">Edit pet Information</h2>
          <form action="/edit/<%= pet._id %>" method="POST">
            <div class="form-group">
              <label for="name">Pet's Name</label>
              <input type="text" class="form-control" id="name" name="name" value="<%= pet.name %>" required>
            </div>
            <div class="form-group mb-2">
                <label for="breed">Breed</label>
                <input type="text" class="form-control" id="breed" name="breed" value="<%= pet.breed %>" required>
              </div>
              <div class="form-group mb-2">
                <label for="category">Category</label>
                <input type="text" class="form-control" id="category" name="category" value="<%= pet.category %>"required>
              </div>
              <div class="form-group mb-2">
                <label for="status">Status</label>
                <input type="text" class="form-control" id="status" name="status" value="<%= pet.status %>" required>
              </div>
              <div class="form-group mb-2">
                <label for="sex">Sex</label>
                <input type="text" class="form-control" id="sex" name="sex" value="<%= pet.sex %>" required>
              </div>
              <div class="form-group mb-2">
                <label for="weight">Weight(lbs)</label>
                <input type="number" class="form-control" id="weight" name="weight" value="<%= pet.weight %>" required>
              </div>
            <div class="form-group">
              <label for="age">Age</label>
              <input type="number" class="form-control" id="age" name="age" value="<%= pet.age %>" required>
            </div>
            <div class="form-group mb-2">
                <label for="microchip">Microchip</label>
                <input type="text" class="form-control" id="microchip" name="microchip" value="<%= pet.microchip %>" required>
              </div>
            
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
      </div>
    </div>
  </body>